
#btnLogin
{
    margin-top: 5px;
    width: 100px;
}

#btnLogout
{
    margin-left: 20px;
}

#btnRegister
{
    width: 100px;
}
/*
#txtNewPassword
{
    margin-top: 5px;
}

#btnSave
{
    margin-top: 5px;
}
*/
#chatbox
{
    margin-top: 10px;
}

#messages
{
    max-height: 300px;
    overflow: auto;
    text-align: left;
}

#txtMessage
{
    margin-right: 5px;
    margin-top: 10px;
    width: 500px;
}

#btnSend
{
    width: 10%;
}

.timestamp
{
    color: red;
}

.username
{
    font-weight: bold;
}
